.titulo {
    flex: 1;
    position: relative;
    width: 50%;
    height: 100%;
    background: #F7F8FA;
}

.titulo .title {
    position: absolute;
    width: 30%;
    height: 30%;
    left: 25%;
    margin-top: 40%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 280%;
    line-height: 50%;
    text-align: center;
    color: #000000;
}

.titulo .description {
    position: absolute;
    width: 40%;
    height: 30%;
    left: 15%;
    margin-top: 5%;
    font-family: Roboto;
    font-style: normal;
    font-weight:lighter;
    font-size: 240%;
    line-height: 50%;
    text-align: center;
    color: #000000;
}

.PLogin {
    position: absolute;
    width: 50%;
    height: 100%;
    margin-left: 0%;
    margin-top: 0;
    border-radius: 5px;
    background: #8257E5;
}

.PLogin .login_label {
    position: absolute;
    left: 37.23%;
    right: 38%;
    top: 10%;
    bottom: 75.12%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
}

.PLogin .email_singup {
    position: absolute;
    width: 70%;
    height: 8%;
    margin-left: 20%;
    margin-right: 30%;
    top: 27%;
    bottom: 57.56%;
    background: #E5E5E5;
    border: 1.5px solid #2A004B;
    box-sizing: border-box;
    border-radius: 10px;
}

.PLogin .login_singup {
    position: absolute;
    width: 70%;
    height: 8%;
    margin-right: 30%;
    margin-top: 40%;
    margin-bottom: 50%;
    margin-left: 20%;
    background: #E5E5E5;
    border: 1.5px solid #2A004B;
    box-sizing: border-box;
    border-radius: 10px;
}

.PLogin .pass_singup {
    position: absolute;
    width: 70%;
    height: 8%;
    margin-right: 30%;
    margin-top: 55%;
    margin-bottom: 5%;
    margin-left: 20%;
    background: #E5E5E5;
    border: 1.5px solid #2A004B;
    box-sizing: border-box;
    border-radius: 10px;
}

.PLogin .continue {
    position: absolute;
    width: 380px;
    left: 22.54%;
    right: 17.52%;
    top: 75%;
    bottom: 15%;
    background: #2A004B;
    border-radius: 5px;
}

.PLogin .logar {
    position: absolute;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 80%;
    margin-bottom: 0%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}