.title {
    /* position: absolute; */
    width: 100%;
    text-align: center;
    top: 5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 84px;
    color: #7D53D4;
}

.subtitle {
    /* position: absolute; */
    width: 100%;
    text-align: center;
    top: 5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 84px;
    color: #7D53D4;
}

.caixa {
    width: 25%;
    height: 45px;
    background: #E7E7E7;
    border: 1px solid #4914B6;
    box-sizing: border-box;
    border-radius: 5px;
}

.container {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}